{% extends 'base.html' %}
{% load static %}

{% block title %}404{% endblock %}

{% block content %}
    <section class="p-0">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="error-section">
                        <h1>404</h1>
                        <h2>ничего не найдено :(</h2>
                        <a href="{% url 'main' %}" class="btn btn-solid">на главную</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}