{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.name }}{% endblock %}

{% block content %}

<div class="breadcrumb-section">
    <div class="container">
        <h2>{{ product.name }}</h2>
        <nav class="theme-breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'main' %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'all_categories' %}">Категории</a></li>
                <li class="breadcrumb-item"><a href="{% url 'category_products' product.category.slug %}">{{ product.category.name }}</a></li>
                <li class="breadcrumb-item active">{{ product.name }}</li>
            </ol>
        </nav>
    </div>
</div>

<section>
    <div class="collection-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="sticky-top-custom">
                        <div class="product-slick">
                            {% if product.image %}
                            <div><img src="{{ product.image.url }}" alt=""
                                    class="img-fluid blur-up lazyload w-100"></div>
                            {% else %}
                                <div><img src="{% static 'img/product_placeholder.png' %}" alt=""
                                    class="img-fluid blur-up lazyload w-100"></div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 rtl-text">
                    <div class="product-page-details sticky-details">
                        <h2 class="main-title">{{ product.name }}</h2>
                        <div class="price-text">
                            <h3><span class="fw-normal">ЦЕНА:</span> ₸ {{ product.price }}
                            </h3>
                            <span>{{ product.brand }}</span>
                        </div>

                        <div class="size-delivery-info">
                            <a href="#ask-question" class="" data-bs-toggle="modal">
                                <i class="ri-questionnaire-line"></i>Задайте вопрос </a>
                        </div>

                        <div class="product-buttons">
                            <div class="qty-section">
                                <div class="qty-box">
                                    <div class="input-group">
                                        <input type="text" name="quantity" class="form-control input-number"
                                            value="1">
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center gap-3">
                                <button class="btn btn-animation btn-solid hover-solid scroll-button" type="button">
                                    <i class="ri-shopping-cart-line me-1"></i>В корзину</button>
                            </div>
                        </div>
                        <div class="buy-box">
                            <a href="#share" data-bs-toggle="modal">
                                <i class="ri-share-line"></i>
                                <span>Поделиться</span>
                            </a>
                        </div>
                        {% if  product.attributes.all %}
                        <div class="bordered-box">
                            <h4 class="sub-title">Характеристики:</h4>
                            <ul class="shipping-info">
                                {% for attr in product.attributes.all %}
                                    <li><span>{{ attr.attribute.name }}:</span> <b>{{ attr.value }}</b></li>
                                {% endfor %}
                            </ul>
                        </div>
                        {% endif %}

                        <div class="bordered-box">
                            <h4 class="sub-title">Delivery Details</h4>
                            <ul class="product-offer delivery-details">
                                <li><i class="ri-truck-line"></i> Your order is likely
                                    to reach you within 7 days. </li>
                                <li><i class="ri-arrow-left-right-line"></i> Hassle
                                    free returns within 7 Days. </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="tab-product vertical-tab section-b-space">
        <div class="container">
            <div class="row tab-border">
                <div class="col-xl-10 ps-0 pe-0 border-start-0 border-end-0">
                    <div class="tab-content nav-material" id="top-tabContent">
                        <div class="tab-pane fade show active" id="top-home" role="tabpanel"
                            aria-labelledby="top-home-tab">
                            <div class="product-tab-description">
                                <div class="part">
                                    <p>{{ product.description }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock %}