<footer class="footer-light">
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>about</h4>
                    </div>
                    <div class="footer-content">
                        <a href="index.html" class="footer-logo d-block">
                            <img src="../assets/images/furniture-1/logo.png" alt="">
                        </a>
                        <p>Discover the latest fashion trends, explore unique styles, and enjoy seamless shopping
                            with our carefully curated exclusive collections, designed to elevate your wardrobe.</p>
                        <div class="footer-social">
                            <ul>
                                <li>
                                    <a href="https://www.facebook.com/">
                                        <i class="ri-facebook-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.google.com/">
                                        <i class="ri-google-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.twitter.com/">
                                        <i class="ri-twitter-x-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/">
                                        <i class="ri-tiktok-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col offset-xl-1">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>my account</h4>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="#!">mens</a></li>
                                <li><a href="#!">womans</a></li>
                                <li><a href="#!">clothing</a></li>
                                <li><a href="#!">accessories</a></li>
                                <li><a href="#!">featured</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>why we choose</h4>
                        </div>
                        <div class="footer-content">
                            <ul>
                                <li><a href="#!">shipping & return</a></li>
                                <li><a href="#!">secure shopping</a></li>
                                <li><a href="#!">gallery</a></li>
                                <li><a href="#!">affiliates</a></li>
                                <li><a href="#!">contacts</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>store information</h4>
                        </div>
                        <div class="footer-content">
                            <ul class="contact-list">
                                <li><i class="ri-map-pin-2-fill"></i>Multikart Demo Store, Demo store India
                                    345-659</li>
                                <li><i class="ri-phone-fill"></i>Call Us: 123-456-7898</li>
                                <li><i class="ri-mail-fill"></i>Email Us: <a href="#!">Support@Multikart.com</a>
                                </li>
                                <li><i class="ri-printer-fill"></i>Fax: 123456</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>