<footer class="footer-light">
    <section class="section-b-space light-layout">
        <div class="container">
            <div class="row footer-theme partition-f">
                <div class="col-lg-4 col-md-6">
                    <div class="footer-title footer-mobile-title">
                        <h4>О нас</h4>
                    </div>
                    <div class="footer-content">
                        <a href="index.html" class="footer-logo d-block">
                            <img src="../assets/images/furniture-1/logo.png" alt="">
                        </a>
                        <p>Качественные строительные и отделочные материалы для дома, ремонта и новых проектов —
                            тщательно подобранный ассортимент, выгодные цены и удобные покупки, чтобы воплощать ваши
                            идеи вместе с «Еврострой».</p>
                        <div class="footer-social">
                            <ul>
                                <li>
                                    <a href="https://www.whatsapp.com/">
                                        <i class="ri-whatsapp-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/">
                                        <i class="ri-instagram-fill"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.tiktok.com/">
                                        <i class="ri-tiktok-fill"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col offset-xl-1">

                </div>
                <div class="col">
                </div>
                <div class="col">
                    <div class="sub-title">
                        <div class="footer-title">
                            <h4>Контакты</h4>
                        </div>
                        <div class="footer-content">
                            <ul class="contact-list">
                                <li><i class="ri-map-pin-2-fill"></i>
                                    <a href="https://2gis.kz/aktobe/firm/70000001032841858/57.202076%2C50.294852?m=57.201705%2C50.294371%2F17.92">
                                        город Актобе, Кунаева 165
                                    </a>
                                </li>
                                <li><i class="ri-phone-fill"></i><a href="tel:+77789880992">+7 778 988 0992</a></li>
                                <li><i class="ri-mail-fill"></i><a href="#!">Support@Multikart.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>